<h1>Stupid Coaching</h1>
<div>
  <% input = params[:question] %>
  <% if input == "I am going to work" %>
    <%= p "Great!" %>
  <% elsif input.include? "?" %>
    <%= p "Silly question, get dressed and go to work!" %>
  <% else %>
    <%= p "I don't care, get dressed and go to work!" %>
  <% end %>
</div>


<%= link_to "Ask anything to your coach", ask_path %>

