<h1>Stupid Coaching</h1>

<form action="answer" method="get">
  <div class="form-group">
    <label for="questionInput">Ask anything to your coach</label>
    <br>
    <br>
    <input type="text" class="btn btn-primary" name="question" placeholder="Type your question">
  </div>
  <br>
  <br>
  <button type="submit" class="btn btn-primary" value="Ask!">Ask!</button>
</form>


